# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.dist/
build/
dist/
*.log

# Datos grandes (ajusta a tu proyecto)
data/
datasets/
models/
*.ckpt
*.h5

# SO / IDE
.DS_Store
.vscode/
.venv/
__pycache__/
.ipynb_checkpoints/
build/
dist/
*.log
